    body {

      padding-top: 70px;

    }
    .smiley{
        width: 200px;
        height: 200px;
        position: relative;
        border:1px solid yellow;
        border-radius: 100%;
        background-color: yellow;
        box-shadow: 0px 10px 28px -3.9px;
        animation-delay: 1s;
        animation: masuperanimation 5s ease infinite;
    
    }
    .eye-l,.eye-r{
       
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: rgb(87, 87, 9);
        border:1px solid rgb(87, 87, 9);
        animation-delay: 30s;
        animation: rotate 2s ease-in-out infinite;
       
    }
    .eyes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        
    }
    .mouth{
        height: 50px;
        width:50px;
        border-radius:100%;
        background-color: rgb(58, 85, 15);
        margin: 65px;
        animation-name: slidein;
        animation-delay: 2s;
        animation:mouth-move 3s ease-in infinite;
    }


    @keyframes masuperanimation {
      
       70% {
            transform: translateX(150px) rotate(30deg);
        }
        90%{
            transform: translateX(-20px) rotate(-30deg);
        }
        100%{
            transform: translateX(-20px) rotate(-20deg);
        }
     
    }
   

  

    @keyframes rotate {
        from{
      
            transform: rotateX(0deg);
        }
        to {
            transform: rotateX(-180deg);
        }
    }

    @-webkit-keyframes mouth-move {
        0% {
          -webkit-transform: scale(1.5);
          transform: scale(1.5); }
      
        50% {
          -webkit-transform: scaleY(0.8) scaleX(1.05);
          transform: scaleY(0.8) scaleX(1.05); }
      
      
        100% {
          -webkit-transform: scale(1);
          transform: scale(1);}
         }
    
 